#headbox {
    width: 1280px;
    height: 60px;
    border: 1px #666;
    margin: 0 auto;
    margin-bottom: 5px;
    background-color: #00AAAA;
}

#xd {
    width: 30px;
}

.logo {
    float: left;
    width: 10%;
    margin-top: 15px;
    margin-left: 10px;
    color: white;
}

.login {
    float: right;
    width: 10%;
    margin-top: 15px;
    margin-right: 10px;
    color: white;
}

.create {
    float: right;
    width: 10%;
    margin-top: 15px;
    margin-right: 50px;
    color: white;
}

.container {
    border: 1px #666;
    width: 1280px;
    margin: 0 auto;
    background-color: #DDDDDD;
    font-family: Microsoft JhengHei;
    text-align: center;
    hoverflow: hidden;
}

a {
    font-family: Microsoft JhengHei;
    font-size: 17pt;
    color: #000;
    transition: color 1s;
    text-align: center;
    text-decoration: none;
    margin: 10px;
}

a:hover {
    color: #555555;
}

h3 {
    font-family: Microsoft JhengHei;
    font-size: 17pt;
    color: #000;
    transition: color 1s;
    text-align: left;
    text-decoration: none;
    margin: 20px;
}

li {
    list-style: none;
    display: block;
    margin-top: 10px;
}

.button {
    border: none;
    background-color: #555555;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: block;
    float: right;
    font-size: 16px;
    border-radius: 12px;
}

.button2 {
    border: none;
    background-color: #555555;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

input {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.item {
    text-align: left;
    width: 230px;
    height: 390px;
    float: left;
    background-color: white;
    margin: 25px;
    padding: 20px;
}

.nnn {
    text-align: left;
    width: 250px;
    height: 150px;
    float: left;
    background-color: white;
    margin: 25px;
    padding: 30px;
}

button {
    border: none;
    background-color: #555555;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin: 35px;
}

.text {
    text-align: left;
    margin: 23px;
    padding: 20px 150px;
}

img {
    width: 200px;
    height: 200px;
}

.vote_btn{
    width: 100%;
}

.img_detail{
    width: 200px;
    height: 200px;
}

.pic_left{
    float: left;
    width: 30%;
    height: 250px;
}

.title_right{
    float: right;
    width: 70%;
    height: 250px;
}

.title {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    display: block;
    width: 100%;
}

.deadline{
    display: block;
    margin-top: 20px;
    float: right;
}

.title_detail{
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    display: block;
}
.dep_detail{
    color: #555555;
    font-size: 16px;
    text-align: left;
    display: block;
    margin-top: 30px;
}

.dep {
    color: #555555;
    font-size: 12px;
    text-align: left;
    display: block;
    margin-top: 10px;
}

.left {}

.right {
    background-color: white;
}

.hot {
    background-color: white;
    padding: 5px;
}

.hot2 {
    font-size: 40px;
    text-align: center;
}

.top {
    margin: 30px
}

.clear{
    clear: both;
}

.comment_board{
    margin-top: 50px;
}